# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.py.class

# Virtual environments
env/
venv/
ENV/
*.env

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# VSCode / IDE
# .vscode/
# .idea/

# Byte-compiled / cache
*.egg-info/
.eggs/
*.egg
*.manifest
*.spec

# Django migrations (optional: if you want to track them, remove this)
# */migrations/*.py
# */migrations/*.pyc

# OS files
.DS_Store
Thumbs.db